.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 30px);
    overflow-y: auto;
    padding: 0 15px;
    #result {
        margin: 30px auto;
        width: 90%;
        max-width: 1000px;
        color: #000000;
        font-family: "Century Gothic";
        font-size: 29px;
        font-weight: 400;
        line-height: 33px;
        text-align: center;
        @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__start {
        display: block;
        text-align: center;
        h4 {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            opacity: 0.3;
            color: #0b0b0b;
            font-family: "Core Sans A 55 Medium";
            font-size: 53px;
            font-weight: 400;
            line-height: 59px;
            text-transform: uppercase;
            margin-bottom: 100px;
            @media screen and (max-width: 767px) {
                font-size: 10px;
                line-height: 16px;
                margin-bottom: 30px;
            }
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        p {
            margin: 30px auto;
            width: 90%;
            max-width: 1000px;
            color: #000000;
            font-family: "Century Gothic";
            font-size: 29px;
            font-weight: 400;
            line-height: 33px;
            b {
                display: block;
                font-weight: 700;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 45px;
            padding: 0;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-image: url(../img/btn-start-bg.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% 100%;
            color: #ffffff;
            font-family: "Core Sans A 55 Medium";
            font-size: 29px;
            font-weight: 400;
            text-decoration: none;
            @media screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 22px;
                margin-top: 15px;
                margin-bottom: 15px;
                width: 100px;
                height: 100px;
            }
        }
    }
    &__question {
        display: block;
        background-image: url(../img/3.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        .variants {
            h2 {
                font-family: "Core Sans A 55 Medium";
                margin: 0 auto 60px;
                max-width: 720px;
                font-size: 42px;
                text-align: center;
                color: #d40b0b;  
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                    margin-top: 30px;
                }
            }
            display: block;
            margin: 60px auto 30px;
            width: 80%;
            max-width: 900px;
            background-color: rgba(255,255,255,.8);
            background-image: url(../img/question-bg.png);
            padding: 30px;
            position: relative;
            z-index: 100;
            text-align: left;
            input[type="radio"] {
                display: none;
                &:checked {
                    & + label {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
            label {
                font-family: "Core Sans A 45 Regular";
                display: block;
                padding: 5px 10px;
                border-bottom: 2px solid rgba(0,0,0,.5);
                font-size: 34px;
                position: relative;
                cursor: pointer;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    border-bottom-width: 1px;
                }
                &:last-child {
                    border-bottom: none;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-image: url(../img/active-answer.png);
                    transition: all .3s ease-in-out;
                }
            }
            &.checked {
                & + .btn_next-page {
                    visibility: visible;
                    max-height: 500px;
                }
            }
            @media screen and (max-width: 767px) {
                padding: 15px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
        .btn_next-page {
            font-family: "Core Sans A 55 Medium";
            display: inline-block;
            overflow: hidden;
            padding: 0;
            font-size: 38px;
            line-height: 128px;
            width: 128px;
            height: 128px;
            border-radius: 50%;
            color: #fff;
            background-image: url(../img/btn-next.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            text-decoration: none;
            visibility: hidden;
            transition: all .3s ease-in-out;
            @media screen and (max-width: 767px) {
                font-size: 22px;
                line-height: 36px;
            }
        }
    }
    &__result {
        display: block;
        background-image: url(../img/3.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        video {
            margin-top: 60px;
        }
        @media screen and (max-width: 767px) {
            img {
                width: 100%;
                margin-top: 15px;
            }
            video {
                margin-top: 15px;
                width: 100%;

            }
            #result {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

.canvas {
    display: flex;
    width: 300vw;
    flex-flow: row wrap;
    transition: all .8s ease-in-out;
}

.fb-button {
    display: inline-block;
    font-family: "Core Sans A 55 Medium";
    font-size: 30px;
	color: #fff;
    background-color: #4C67A1;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.fb-button:hover {
	color: #fff;
	background-color: #405D9B;
}
.fb-button:focus {
	color: #fff;
}