.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 30px);
    overflow: auto;
    padding: 0 15px;
    position: relative;
    background-size: cover;
    background-color: #fff;
    #result {
        margin: 15px auto;
        width: 100%;
        max-width: 600px;
        font-family: "Core Sans A 45 Regular";
        font-size: 18px;
        color: #000;
        text-align: center;
        transition: all 1s 2s ease-in-out;
        &.hidden {
            opacity: 0;
        }
    }
    &__start {
        display: block;
        text-align: center;
        div {
            position: relative;
            top: 50%;
            transform: translate(0, -75%);
        }
        h4 {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            opacity: 0.3;
            color: #0b0b0b;
            font-family: "Core Sans A 55 Medium";
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 100px;
            @media screen and (max-width: 767px) {
                font-size: 10px;
                line-height: 16px;
                margin-bottom: 30px;
            }
        }
        img {
            display: block;
            max-width: 50%;
            height: auto;
            margin: 0 auto;
        }
        p {
            margin: 30px auto;
            width: 90%;
            max-width: 1000px;
            color: #000000;
            font-family: "Century Gothic";
            font-size: 29px;
            font-weight: 400;
            line-height: 33px;
            b {
                display: block;
                font-weight: 700;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        a {
            display: block;
            margin: 0 auto;
            padding: 0;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-image: url(../img/btn-start-bg.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% 100%;
            color: #ffffff;
            font-family: "Core Sans A 55 Medium";
            font-size: 29px;
            font-weight: 400;
            text-decoration: none;
            position: relative;
            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 22px;
                margin-top: 15px;
                margin-bottom: 15px;
                width: 100px;
                height: 100px;
            }
        }
    }
    &__question {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        &[data-index="2"] {
            background-position: 50% bottom;
        }
        &[data-index="3"] {
            background-position: 50% top;
        }
        &[data-index="4"] {
            background-position: 50% bottom;
        }
        &[data-index="5"] {
            background-position: 50% top;
        }
        &[data-index="6"] {
            background-position: 50% bottom;
        }
        &[data-index="7"] {
            background-position: 50% top;
        }
        .variants {
            h2 {
                font-family: "Core Sans A 55 Medium";
                margin: 0 auto 60px;
                max-width: 720px;
                font-size: 32px;
                text-align: center;
                color: #d40b0b;  
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }
            display: block;
            margin: 60px auto 30px;
            width: 80%;
            max-width: 900px;
            background-color: rgba(255,255,255,.8);
            background-image: url(../img/question-bg.png);
            padding: 30px;
            position: relative;
            z-index: 100;
            text-align: left;
            input[type="radio"] {
                display: none;
                &:checked {
                    & + label {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
            label {
                font-family: "Core Sans A 45 Regular";
                display: block;
                padding: 5px 10px;
                border-bottom: 2px solid rgba(0,0,0,.5);
                font-size: 24px;
                position: relative;
                cursor: pointer;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    border-bottom-width: 1px;
                }
                &:last-child {
                    border-bottom: none;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-image: url(../img/active-answer.png);
                    transition: all .3s ease-in-out;
                }
            }
            &.checked {
                & + .btn_next-page {
                    visibility: visible;
                    max-height: 500px;
                }
            }
            @media screen and (max-width: 767px) {
                padding: 15px;
                margin-bottom: 15px;
                margin-top: 30px;
            }
        }
        .btn_next-page {
            font-family: "Core Sans A 55 Medium";
            display: inline-block;
            overflow: hidden;
            padding: 0;
            margin-bottom: 30px;
            font-size: 22px;
            width: 78px;
            height: 78px;
            border-radius: 50%;
            color: #fff;
            background-image: url(../img/btn-next.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            text-decoration: none;
            visibility: hidden;
            transition: all .3s ease-in-out;
            position: relative;
            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                width: 60px;
                height: 60px;
            }
        }
    }
    &__result {
        display: block;
        text-align: center;
        background-image: url(../img/result-bg.jpg);
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-position: 0 0;
        @media screen and (max-width: 767px) {
            #result {
                font-size: 14px;
                line-height: 16px;
            }
        }
        .white-wraper {
            background-color: #fff;
            display: inline-block;
            padding: 0 30px;
            min-height: 100%;
            height: auto;
            @media screen and (max-width: 767px) {
                padding: 0 10px;
            }
        }
    }
    .hello-block {
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        font-size: 30px;
        @media screen and (max-width: 767px) {
            font-size: 16px;
            top: 0;
            transform: none;
            padding-left: 5px;
            padding-right: 5px;
        }
        h2 {
            margin-top: 60px;
            font-family: "Core Sans A 55 Medium";
            font-size: 22px;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0,0,0,.5);
            margin-bottom: 90px;
            text-align: center;
            @media screen and (max-width: 767px) {
                font-size: 16px;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
        p {
            font-family: "Core Sans A 55 Medium";
            font-size: 22px;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0,0,0,.5);
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
        }
        span {
            font-family: "Core Sans A 55 Medium";
            font-size: 22px;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0,0,0,.5);
            margin: 15px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
                display: block;
                text-align: center;
            }
        }
        input {
            border: none;
            border-bottom: 2px solid #fff;
            background-color: transparent;
            font-family: "Core Sans A 55 Medium";
            font-size: 22px;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0,0,0,.5);
            margin-right: 15px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #fff;
            }
            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        }
        a {
            display: block;
            margin: 0 auto;
            span {
                margin: 0;
            }
        }
        .fb-login-button {
            display: inline-block;
            vertical-align: middle;
            span {
                text-align: left;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: -15px;
            }
        }
    }
}

.canvas {
    display: flex;
    width: 300vw;
    flex-flow: row wrap;
    transition: all .8s ease-in-out;
    background-repeat: no-repeat;
    background-size: 270vw auto;
    background-position: 75vw 100vh;
}

.final-img-wraper {
    display: inline-block;
    width: 80%;
    max-width: 600px;
    margin: 15px auto;
    position: relative;
    transform-origin: 50% 0;
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    &.showen {
        transform: scale(1);
    }
    h3 {
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 5px;
        font-family: "Core Sans A 45 Regular";
        font-size: 18px;
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
    p {
        position: absolute;
        width: 50%;
        max-width: 200px;
        top: 50px;
        font-family: "Core Sans A 55 Medium";
        font-size: 22px;
        text-shadow: 2px 2px 0 #fff;
        text-transform: uppercase;
        &.text-left {
            left: 3%;
            @media screen and (max-width: 767px) {
                left: 0;
            }
        }
        &.text-right {
            right: 3%;
            @media screen and (max-width: 767px) {
                right: 0;
            }
        }
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}

.final-img {
    display: block;
    width: 100%;
    height: auto;
}

.fb-button {
    display: inline-block;
    width: 183px;
    height: 38px;
    background-image: url(../img/facebook-share-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-bottom: 60px;
    cursor: pointer;
}