// 100
@font-face {
    font-family: "Core Sans A 55 Medium";
    src: url('../fonts/S-Core - CoreSansA55Medium.otf');
}
@font-face {
    font-family: "Core Sans A 45 Regular";
    src: url('../fonts/S-Core - CoreSansA45Regular.otf');
}