<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Facebook meta -->
  <meta property="fb:app_id" content="460473194405508" />
  <meta property="og:url" content="https://promo.yarych.com/index.html" >
  <meta property="og:type" content="article" >
  <meta property="og:title" content="Title" >
  <meta property="og:description" content="Description" >
  <meta property="og:image" content="https://promo.yarych.com/assets/img/final-1.jpg" >
  <meta property="og:image:width" content="320" >
  <meta property="og:image:height" content="320" >
  <!-- /Facebook meta -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.min.css">
  <title>Test</title>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '460473194405508',
        autoLogAppEvents : true,
        xfbml            : true,
        cookies          : true,
        version          : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };
  
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
  <div id="fb-root"></div>
  <div class="canvas">
    <!-- Row 1 -->
     <section class="screen screen__start" data-index="0" data-x="0" data-y="0">
      <h4>Цей тест може зламати твоє тендітне чоловіче нутро, закрий! Цей тест може зламати твоє тендітне чоловіче нутро, закрий! Цей тест може зламати твоє тендітне чоловіче нутро, закрий! Цей тест може зламати твоє тендітне чоловіче нутро, закрий!</h4>
      <div>
        <img src="assets/img/start-img.png" alt="start">
        <p>
          Жінки, прийшов час дізнатись, який в тебе тип характеру насправді.
          <b>Розкажи усьому світу, з якого ти фільму!</b>
        </p>
        <a href="#" class="btn_next-page">
          <span>
            Старт
          </span>
        </a>
      </div>
    </section>
    <section class="screen"></section>
    <section class="screen"></section>
    <!-- /Row 1 -->
    <!-- Row 1_1 -->
    <section class="screen screen__question" data-index="1" data-x="0" data-y="1" style="background-image: url(assets/img/1.jpg);">
      <div class="hello-block">
        <h2>
          Привіт
          <br><br>
          Цей тест відкриє тобі очі на твійприхований акторський талант
          <br><br>
          Щоб визначити фільм для тебе, нам вартопознайомитись ближче
        </h2>
        <p>Вкажи:</p>
        <br><br>
        <input type="text" placeholder="Прізвище, Ім'я" id="name-field">
        <span>або</span>
        <fb:login-button class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" onlogin="checkLoginState();"></fb:login-button>
        <br>
        <br>
        <a href="#" class="btn_next-page create-full-name"><span>Далі</span></a>
      </div>
    </section>
    <section class="screen"></section>
    <section class="screen"></section>
    <!-- /Row 1_1 -->
    <!-- Row 2 -->
    <section class="screen screen__question" data-index="2" data-x="0" data-y="2" style="background-image: url(assets/img/1.jpg);">
      <div class="variants">
          <h2>З чого зазвичай починається твій день?</h2>
        <input type="radio" value="1" name="variants-1" id="variant-1_1">
        <label for="variant-1_1">
          Останній бокальчик вчора був точно зайвим
        </label>
        <input type="radio" value="2" name="variants-1" id="variant-1_2">
        <label for="variant-1_2">
          Памперси, пляшечки, какашечки
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-1_3">
        <label for="variant-1_3">
          Присідання - 3 підходи  по 15 і розтяжечка
        </label>
        <input type="radio" value="4" name="variants-1" id="variant-1_4">
        <label for="variant-1_4">
          Міцна кава і вже 5 пропущених дзвінків
        </label>
        <input type="radio" value="5" name="variants-1" id="variant-1_5">
        <label for="variant-1_5">
          Роблю мейк і йду на манікюр 
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-1_6">
        <label for="variant-1_6">
          Ще 5 хвилин і встаю
        </label>
        <input type="radio" value="7" name="variants-1" id="variant-1_7">
        <label for="variant-1_7">
          Годую котів, мажу хліб майонезом
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section>
    <section class="screen"></section>
    <section class="screen"></section>
    <!-- Row 3 -->
    <section class="screen screen__question" data-index="3" data-x="0" data-y="3" style="background-image: url(assets/img/2.jpg);">
      <div class="variants">
          <h2>Чим ти займаєшся, якщо з’явиться вільна хвилинка?</h2>
        <input type="radio" value="2" name="variants-1" id="variant-2_1">
        <label for="variant-2_1">
          Шо таке вільний час? Який вільний час? В мене діти
        </label>
        <input type="radio" value="5" name="variants-1" id="variant-2_2">
        <label for="variant-2_2">
          Думаю сухе біле чи напівсолодке ввечері?
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-2_3">
        <label for="variant-2_3">
          Нюхаю сторінки нової книги
        </label>
        <input type="radio" value="4" name="variants-1" id="variant-2_4">
        <label for="variant-2_4">
          Листаю інстаграмчик
        </label>
        <input type="radio" value="1" name="variants-1" id="variant-2_5">
        <label for="variant-2_5">
          Шоплюсь 
        </label>
        <input type="radio" value="7" name="variants-1" id="variant-2_6">
        <label for="variant-2_6">
          Займаюсь нерухомістю на дивані
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-2_7">
        <label for="variant-2_7">
          Йду на фітнес
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section>
    <section class="screen" style="background-image: url(assets/img/3.jpg);"></section>
    <section class="screen screen__question" data-index="4" data-x="2" data-y="3" style="background-image: url(assets/img/4.jpg);">
      <div class="variants">
          <h2>Твій улюблений напій?</h2>
        <input type="radio" value="4" name="variants-1" id="variant-3_1">
        <label for="variant-3_1">
          Кавуся
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-3_2">
        <label for="variant-3_2">
          Чай
        </label>
        <input type="radio" value="1" name="variants-1" id="variant-3_3">
        <label for="variant-3_3">
          Вінішко
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-3_4">
        <label for="variant-3_4">
          Вода
        </label>
        <input type="radio" value="5" name="variants-1" id="variant-3_5">
        <label for="variant-3_5">
          Шампанське
        </label>
        <input type="radio" value="2" name="variants-1" id="variant-3_6">
        <label for="variant-3_6">
          Бажано щось міцніше
        </label>
        <input type="radio" value="7" name="variants-1" id="variant-3_7">
        <label for="variant-3_7">
          Какао
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section>
    <!-- /Row 3 -->
    <!-- Empty row -->
    <section class="screen"></section>
    <section class="screen"></section>
    <section class="screen" style="background-image: url(assets/img/5.jpg);"></section>
    <!-- Empty row -->
    <!-- Row 4 -->
    <section class="screen screen__question" data-index="6" data-x="0" data-y="5" style="background-image: url(assets/img/8.jpg);">
      <div class="variants">
        <h2>Як виглядає твій типовий вечір?</h2>
        <input type="radio" value="5" name="variants-1" id="variant-5_1">
        <label for="variant-5_1">
          Збираюсь в клуб
        </label>
        <input type="radio" value="1" name="variants-1" id="variant-5_2">
        <label for="variant-5_2">
            Тусуюсь з подругами
        </label>
        <input type="radio" value="2" name="variants-1" id="variant-5_3">
        <label for="variant-5_3">
            Останні брудні шкарпетки в квартирі знайдено! Mission complete
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-5_4">
        <label for="variant-5_4">
            Качаю сідниці 
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-5_5">
        <label for="variant-5_5">
          Плед і розмальовка-антистрес
        </label>
        <input type="radio" value="4" name="variants-1" id="variant-5_6">
        <label for="variant-5_6">
            Рольові ігри з квартальним звітом
        </label>
        <input type="radio" value="7" name="variants-1" id="variant-5_7">
        <label for="variant-5_7">
          Приймаю горизонтальне положення
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section>
    <section class="screen" style="background-image: url(assets/img/7.jpg);"></section>
    <section class="screen screen__question" data-index="5" data-x="2" data-y="5" style="background-image: url(assets/img/6.jpg);">
      <div class="variants">
          <h2>Тобі підморгнув красунчик, твої дії:</h2>
        <input type="radio" value="7" name="variants-1" id="variant-4_1">
        <label for="variant-4_1">
          Морожусь
        </label>
        <input type="radio" value="5" name="variants-1" id="variant-4_2">
        <label for="variant-4_2">
          Поглядом визначаю розмір його….гаманця
        </label>
        <input type="radio" value="4" name="variants-1" id="variant-4_3">
        <label for="variant-4_3">
          Мені ніколи, в мене зустріч
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-4_4">
        <label for="variant-4_4">
          Заберу його собі
        </label>
        <input type="radio" value="2" name="variants-1" id="variant-4_5">
        <label for="variant-4_5">
          В мене дитина, який красень?
        </label>
        <input type="radio" value="1" name="variants-1" id="variant-4_6">
        <label for="variant-4_6">
          До мене чи до тебе?
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-4_7">
        <label for="variant-4_7">
          Проводжатиму його поглядом в натовп
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section> 
    <!-- /Row 4 -->    
    <!-- Row 5 -->
    <section class="screen screen__question" data-index="7" data-x="0" data-y="6" style="background-image: url(assets/img/9.jpg);">
      <div class="variants">
          <h2>Який твій улюблений магазин?</h2>
        <input type="radio" value="4" name="variants-1" id="variant-6_1">
        <label for="variant-6_1">
          Кондитерська
        </label>
        <input type="radio" value="5" name="variants-1" id="variant-6_2">
        <label for="variant-6_2">
          Ювелірний
        </label>
        <input type="radio" value="6" name="variants-1" id="variant-6_3">
        <label for="variant-6_3">
          Арт-крамничка
        </label>
        <input type="radio" value="2" name="variants-1" id="variant-6_4">
        <label for="variant-6_4">
          Дитячий
        </label>
        <input type="radio" value="3" name="variants-1" id="variant-6_5">
        <label for="variant-6_5">
          Все для спорту
        </label>
        <input type="radio" value="7" name="variants-1" id="variant-6_6">
        <label for="variant-6_6">
          Алкомаркет
        </label>
        <input type="radio" value="1" name="variants-1" id="variant-6_7">
        <label for="variant-6_7">
          Модні бутіки
        </label>
      </div>
      <a href="#" class="btn_next-page"><span>Далі</span></a>
    </section>
    <section class="screen"></section>
    <section class="screen"></section>
    <!-- /Row 5 -->
    <!-- Row 6 -->
    <section class="screen screen__result" data-index="8" data-x="0" data-y="7">
      <div class="white-wraper">
        <div class="final-img-wraper">
          <img src="assets/img/final-1.jpg" alt="final" class="final-img">
          <h3>В головних ролях</h3>
          <p class="text-left">

          </p>
          <p class="text-right">
            Печиво yarych<br>
            з молоком
          </p>
        </div>
        <p id="result" class="hidden"></p>
        <a class="fb-button"></a>
      </div>
    </section>
    <section class="screen"></section>
    <section class="screen"></section>
    <!-- /Row 6 -->
  </div>
  <script src="assets/js/script.min.js"></script>
  <script>
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token 
            // and signed request each expire
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
            getName();
        } else if (response.status === 'not_authorized') {
            // the user must go through the login flow
            // to authorize your app or renew authorization
            console.log('not loggin');
        } else {
            // the user isn't logged in to Facebook.
        }
      });
    }

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
          // the user is logged in and has authenticated your
          // app, and response.authResponse supplies
          // the user's ID, a valid access token, a signed
          // request, and the time the access token 
          // and signed request each expire
          var uid = response.authResponse.userID;
          var accessToken = response.authResponse.accessToken;
          getName();
      } else if (response.status === 'not_authorized') {
          // the user must go through the login flow
          // to authorize your app or renew authorization
          console.log('not loggin');
      } else {
          // the user isn't logged in to Facebook.
      }
    });

    function getName() {
      FB.api('/me', function(response) {
          $('#name-field').val(response.name);
          $('.hello-block').parent().find('.btn_next-page').css({
              'visibility': 'visible'
          });
      });
    }
  </script>
</body>
</html>